<h1 class="text-center mt-4">Listing Articles</h1>
<div class="container">
  <% @artilces.each do |article| %>
  <div class="card text-center mt-4">
    <div class="card-header">
    By Pooja Karale
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  <%end%>
</div>

<table>
    <thead>
       <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3">Action</th>
       </tr>
    </thead>
    <tbody>
       <% @artilces.each do |article| %>
       <tr>
          <td><%=article.title%></td>
          <td><%=article.description%></td>
          <td><%=link_to 'Show', article_path(article)%></td>
          <td><%=link_to 'Edit', edit_article_path(article)%></td>
          <td><%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}%></td>
       </tr>
       <%end%>   
    </tbody>
</table>
<p>
<%= link_to 'Home', root_path%> |
<%= link_to 'Create new', new_article_path%>
</p>
